@using HRWebApp.Models;
@{
    ViewData["Title"] = "Search Page";
}

   <link rel="stylesheet"  href="~/css/table.css" type="text/css"/>

@using(Html.BeginForm()){
    <table>
        <tr>
            <th>Id</th>
            <td> <input type="text" name="Id" /> </td>
            <td><button><input type="submit" value="Search"/> </button> </td>
        </tr>
    </table>
    <div style="text-align: center;" >
     </div>
}